page-login {

    .title {
        margin-left: 40px;
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
    }

    .bigButton {
        margin-top: 15vw;
        color: map-get($colors, green);
        border: 2px solid map-get($colors, green);
        box-shadow: 3px 3px;
    }

    .bigButton:hover {
        background-color: map-get($colors, green);
        box-shadow: 3px 3px;
    }

    .list {
        margin-top: 50px;
        width: 80%;
        display: block;
        margin: 50px auto;
    }

    .cancel {
        color: map-get($colors, green);
    }

}
