page-charitydetail {
    .project{
     
        margin-left:20px;
        margin-right:20px;
    }

    .mission{
        margin-top:20px;
        margin-left:20px;
        margin-right:20px;
    }
}
