page-feed {
    .content {
    background-color: #efefef;
    }

    .card {
        border-radius: 8px;
        box-shadow: 1 1 5px;
        width: 99%;
        margin: 15px auto;
    }

    .like {
        transform: scale(1.5);
    }
}
