page-portfolio {
    .amount {
        color: map-get($colors, green);
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
    }

    .date {
        color: grey;
    }

    .sum {
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        color: map-get($colors, orange);
    }
}
