page-portfolio {
    
    .amount {
        color: map-get($colors, green);
    }

    .date {
        color: grey;
    }
    
    .button {
        color: map-get($colors, green);
    }

    .topSection {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        height: 300px;
        width: 100%;
        background: linear-gradient(to bottom right, #A3DC2C, map-get($colors, green));
        box-shadow: 5px 5px 5px lightgrey;
        color: white;
    }
    
    .topSectionOverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        height: 300px;
        width: 100%;
        background-color: white;
        opacity: 0.5;
    }

    .portfolio {
        position: absolute;
        margin-top: 70px;
        width: 95%;
    }

    .profpic {
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 2px 2px 2px map-get($colors, green);
        object-fit: contain;
        margin-top: 30px;
    }

    .stats {
        margin-top: 180px;
    }

    .text {
        color: white;
        font-size: 20px;
        line-height: 0.5;
    }

    .title {
        color: white;
        line-height: 0.7;
    }

    .profile {
        margin-top: 60px;
        z-index: 1;
    }

    .segment {
        margin-top: 260px;
    }

    .editButton {
        border-radius: 50% 50%;
        color: map-get($colors, green);
        position: absolute;
        margin-top: 70px;
        margin-left: 100px;
        background-color: white;
        box-shadow: 2px 2px 8px;
        z-index: 2;
    }

    #list {
        width: 95%;
    }

    .header {
        text-align: left;
        font-size: 20px;
        font-family: 'Raleway', cursive;
    }

    .bigButton {
        color: map-get($colors, green);
        border: 2px solid map-get($colors, green);
        box-shadow: 3px 3px;
    }

    .bigButton:hover {
        background-color: map-get($colors, green);
        box-shadow: 3px 3px;
    }

    .badges {
        margin-top: 150px;
    }
}
