<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="topSection">
      <img class="profpic" src = "assets/imgs/profpic.gif">
    </div>
    <div class="topSectionOverlay"></div>
    <div class="stats">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h4 class="text">{{this.sum}}</h4>
            <p class="title">DONATED</p>
          </ion-col>
          <ion-col>
            <h4 class="text">{{this.numberCharities}}</h4>
            <p class="title">CHARITIES</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
  
<!-- <ion-grid>
  <ion-row>
    <ion-col col-5>
        <div>
            <ion-card class="card">
                <button class ="button" ion-button round full clear (click)="toggleContent1()">Total Donation<ion-icon name="money"></ion-icon></button>
            </ion-card>
        </div>
    </ion-col>
    <ion-col>
        <div>
            <ion-card class="card">
                <button class ="button" ion-button round full clear (click)="toggleContent2()">Donation Breakdown<ion-icon name="arrow-down"></ion-icon></button>
            </ion-card>
        </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-5>
        <div *ngIf="showSelected1">
            <ion-card-content>
                <h2 class="sum">${{this.sum}}</h2>
            </ion-card-content>
        </div>
        <div *ngIf="showSelected2">
            <ion-card-content>
                <canvas #doughnutCanvas></canvas>
              </ion-card-content>
        </div>
    </ion-col>
  </ion-row>
</ion-grid> -->

 <div class="middleSection">
  <div>
    Charities Donated To:
  </div>
  <div>
    Donation History
  </div>
  <div>
    <ion-list *ngFor="let donation of userDonations">
      <ion-item>
        <ion-row>
          <ion-col class="amount">
            {{donation.amount}}
          </ion-col>
          <ion-col text-wrap>
            {{donation.charityName}}
          </ion-col>
          <ion-col text-wrap class="date">
            {{donation.date}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  
</div>

<ion-card>
    <ion-card-header>
      Donation Breakdown
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
      <button ion-button round (click)="loadChart(this.amountarray,this.charityarray)">Reload</button>
    
    </ion-card-content>
  </ion-card>

</ion-content>