page-menu {
    text-align: center;

    .bigButton {
        color: map-get($colors, green);
        border: 2px solid map-get($colors, green);
        box-shadow: 3px 3px;
    }

    .bigButton:hover {
        background-color: map-get($colors, green);
        box-shadow: 3px 3px;
    }
}
